@font-face {
  src:
    url("/public/fonts/GOST UI 2.woff2") format("woff2"),
    url("/public/fonts/GOST UI 2.woff2") format("woff");
  font-family: "GOST UI 2";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("/public/fonts/GOST UI 2 Bold.woff2") format("woff2"),
    url("/public/fonts/GOST UI 2 Bold.woff2") format("woff");
  font-family: "GOST UI 2";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("/public/fonts/GOST UI 2 Medium.woff2") format("woff2"),
    url("/public/fonts/GOST UI 2 Medium.woff2") format("woff");
  font-family: "GOST UI 2";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("/public/fonts/SF Pro Display Bold.woff2") format("woff2"),
    url("/public/fonts/SF Pro Display Bold.woff2") format("woff");
  font-family: "GOST UI 2";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("/public/fonts/SF Pro Display Medium.woff2") format("woff2"),
    url("/public/fonts/SF Pro Display Medium.woff2") format("woff");
  font-family: "GOST UI 2";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}